node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.test
.env.production
Dockerfile
.dockerignore
docker-compose.yml
coverage
.nyc_output
dist
uploads/*
!uploads/.gitkeep
